
<div class="container">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password to continue</h6>
                </div>
                <form ngNativeValidate [formGroup]="login" (ngSubmit)="logiin()" >
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label text-start">Email address</label>
                          <input formControlName="email" type="email"  class="form-control" id="email" aria-describedby="emailHelp" required>    
                          <h6 class="text-start" *ngIf="login.get('email')?.hasError('email')">Enter correct email id</h6>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="text-start">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="password" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" >Login</button>
                      
                    </form>
                    <a style="color: #000; margin-top: 10px;"  routerLink="/signup"> New User? Register Yourself..</a>
            </div>
</div> 